<div class="randomUserCard card border-secondary mb-3" (click)="openModal(template)">
    <div class="card-body">
      <ng-content class="card-img" select="[cardImg]"></ng-content>
      <ng-content select="[cardName]"></ng-content>
    </div>
</div>

<!-- Ng-Template Modal -->
<ng-template #template>
  <div class="modal-header">

  <!-- Modal Title  -->
    <h4 class="modal-title pull-left"><ng-content select="[h4ModalName]"></ng-content></h4>

  <!-- Close Button  -->
    <button type="button" 
        class="close pull-right" 
        (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- Modal Body -->
  <div class="modal-body">
    <table>
      <tr>
        <td class="modalImg-container"><ng-content select="[modalImg]"></ng-content></td>
        <td class="modalContent">
          <ng-content select="[modalName]"></ng-content>
          <ng-content select="[modalGender]"></ng-content>
          <ng-content select="[modalAge]"></ng-content>
          <ng-content select="[modalPhone]"></ng-content>
          <ng-content select="[modalCell]"></ng-content>
          <ng-content select="[modalEmail]"></ng-content>
          <ng-content select="[modalNat]"></ng-content>
          <ng-content select="[modalCountryCity]"></ng-content>
          <ng-content select="[modalDirection]"></ng-content>
        </td>
      </tr>
    
    </table>
  </div>
</ng-template>