.uwaTitleImg {
    /* center img */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* responsive img */
    max-width: 65%;
    height: auto;
}
.container-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}