.userConected {
    display: inline-block;
    float: right;
}
.uwaTitleImg {
    /* center img */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* responsive img */
    max-width: 100%;
    height: auto;
}