<h4 class="text-center">Sign Up</h4>

<input #userEmail type="email" class="form-control" placeholder="your email" required>
<input #userPassword type="password" class="form-control" placeholder="your password" required>

<button type="button" class="btn-primary btn-lg btn-block" (click)="authService.SignUp(userEmail.value, userPassword.value)">
  Sign Up
</button>
  
<p class="text-center">Or</p>
  
<!-- Continue with Google -->
<button type="button" class="btn btn-info btn-lg btn-block" (click)="authService.GoogleAuth()">
  Continue with Google
</button>
  
<!-- Continue with Facebook -->
<button type="button" class="btn btn-info btn-lg btn-block disabled">
  Continue with Facebook
</button>
  
<div class="redirectToLogin">
  <span>Already have an account? <span class="redirect text-info" routerLink="/">Log In</span></span>
</div>
