<h2 class="text-center">LogIn</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- Calling GoogleAuth Api from AuthService -->
  <button type="button" class="btn btn-info btn-lg btn-block" (click)="authService.GoogleAuth()">
    Google
  </button>
  <button type="button" class="btn btn-info btn-lg btn-block disabled">
    Facebook
  </button>

  <div class="form-group">
  <input #userName id="userName" type="email" class="form-control" placeholder="your email" required>
</div>
<div class="form-group">
  <input #userPassword id="userPassword" type="password" class="form-control" placeholder="your password" required>
</div>

  <!-- BUG: They are activated even if the email and password are valid -->
  <!-- <span *ngIf="submitted && form.controls.email.invalid" id="email-error">
    Please enter a valid email.
  </span>
  <span *ngIf="submitted && form.controls.password.invalid" id="password-error">
    Please enter a valid password.
  </span> -->

  <button type="submit" class="btn-primary btn-lg btn-block" (click)="authService.SignIn(userName.value, userPassword.value)">
    Log in
  </button>
  <button class="redirect btn-primary btn-lg btn-block" routerLink="/register-user">
    Sign Up
  </button>

  <div class="forgotPassword text-info">
    <span routerLink="/forgot-password">Forgot Password?</span>
  </div>
</form>