<h4 class="text-center">LogIn</h4>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- Calling GoogleAuth Api from AuthService -->
  <button type="button" class="btn btn-info btn-lg btn-block" (click)="authService.GoogleAuth()">
    Google
  </button>
  <button type="button" class="btn btn-info btn-lg btn-block disabled">
    Facebook
  </button>

  <input #userName id="userName" type="email" class="form-control" placeholder="your email" required>
  <input #userPassword id="userPassword" type="password" class="form-control" placeholder="your password" required>
  
  <span *ngIf="submitted && form.controls.email.invalid" id="email-error">
    Please enter a valid email.
  </span>
  <span *ngIf="submitted && form.controls.password.invalid" id="password-error">
    Please enter a valid password.
  </span>

  <button type="submit" class="btn-primary btn-lg btn-block" (click)="authService.SignIn(userName.value, userPassword.value)">
    Log in
  </button>
  <button class="redirect btn-primary btn-lg btn-block" routerLink="/register-user">
    Sign Up
  </button>

  <div class="forgotPassword text-info">
    <span routerLink="/forgot-password">Forgot Password?</span>
  </div>
</form>